* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

#menu-container .menu #main-menu {
    width: 80%;
    margin: auto;
}

#menu-container .menu #main-menu #logo {
    height: 20%;
    background-color: black;
    margin: 
}