/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav menu rules */

.menu-container {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #255EE9;
}

#logo {
    margin: 20px 10%;
    display: inline-block;
    width: 10%;
    float: left;
    transform: translate(-50%, 0);
}

nav ul li {
    line-height: 70px;
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    float: left;
    color: white;
}

#menu-button {
    display: inline-block;
    line-height: 70px;
    margin: 0 10%;
    float: right;
    color: black;
}

.menu-container .menu #main-menu {
    width: 50%;
    margin: auto;
}

.normal-link, #menu-button {
    text-decoration: none;
    color: white;
}

.menu-container::after {
    content: "";
    display: table;
    clear: both;

}

/* begin main rules */

.jumbotron {
    height: 400px;
    width: 100%;
}

#jumbo-img {
    height: 30%;
}


.jumbotron-content {
    height: 100%;
    width: 60%;
    margin: auto;
    border-color: black;
    border-style: solid;
}

#header {
    position: relative;
}

#jumbo-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#first {
    background-color: rebeccapurple;
}

#second {
    background-color: salmon;
}

#third {
    background-color: seagreen;
}
/* closer rules */

.closer {
    height: 600px;
    width: 100%;
    background-color: grey;
}

.closer-content {
    height: 100%;
    width: 60%;
    margin: auto;
    border-color: black;
    border-style: solid;
}



footer {
    height: 300px;
    width: 100%;
    background-color: black;
}